/* Entrée douce */
@keyframes anim-doux
{
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* Entrée en grandissant */
@keyframes anim-pop
{
    from {
        transform: scale(0.75);
    }

    to {
        transform: scale(1);
    }
}

/* Entrée depuis le bas */
@keyframes anim-glissement-haut
{
    from {
        margin-top: 4rem;
    }

    to {
        margin-top: initial;
    }
}

/* Entrée depuis le bas pour les articles (valeur de fin) */
@keyframes anim-glissement-haut-article
{
    from {
        margin-top: 4rem;
    }

    to {
        margin-top: 0.5rem;
    }
}

/* Entrée depuis la droite */
@keyframes anim-glissement-gauche
{
    from {
        margin-left: 4rem;
    }

    to {
        margin-left: inherit;
    }
}